{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="content">
            {% block content %}
            <h2>Register</h2>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
            {% endblock %}
        </div>
        
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>